:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --heading-menu: #2e2f42;
  --main-title: #2e2f42;
  --title: #ffffff;
  --bottom: #ffffff;
  --text: #434455;
  --contact: #434455;
  --header-item: #434455;
  --footer-text: #f4f4fd;
  --logotipe-blu: #4d5ae5;
  --logotipe-blac: #2e2f42;
  --background-header: #ffffff;
  --background-hero: #2e2f42;
  --background: #fff;
  --background-team: #f4f4fd;
  --background-footer: #2e2f42;
  --background-bottom: #4d5ae5;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #434455;
}
/*============ COMPONENTS ============ */

span.ingredient {
  color: var(--logotipe-blac, #2e2f42);
}

.main-title {
  color: var(--main-title, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.desc {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*========Header======*/
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
}

.header-contact {
  font-style: normal;
}
.menu-link {
  color: var(--heading-menu, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}
.contact-link {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
}
.contact-link:hover {
  color: #404bbf;
}
.contact-link:focus {
  color: #404bbf;
}
.logotipe-header {
  color: var(--logotipe-blu, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
span.ingredient-header {
  color: var(--navyblue, #2e2f42);
}

/*==========Button========*/
.button {
  color: var(--iris, #4d5ae5);
  background: var(--background-bottom, #f4f4fd);
  border-radius: 4px;
  border: 1px;
  border: solid #e7e9fc;
  cursor: pointer;
}
button:hover {
  color: var(--bottom-hover, #fff);
  background: var(--background-bottom-hover, #404bbf);
  border: 1px;
  border: solid transparent;
}
button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.buttons {
  background: #fff;
  padding-top: 96px;
  padding-bottom: 120px;
  cursor: pointer;
}

.button-text {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
  color: var(--background-bottom, #4d5ae5);
  background-color: var(--background-team, #f4f4fd);
  cursor: pointer;
}

.button-text {
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
}

/*========Image========*/

.desc {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.main-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
/*=========Footer========*/

.logotipe {
  color: var(--logotipe-blu, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
span.ingredient {
  color: var(--cloud, #f4f4fd);
}

.footer {
  background-color: var(--navyblue, #2e2f42);
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
