:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --heading-menu: #2e2f42;
  --main-title: #2e2f42;
  --title: #ffffff;
  --bottom: #ffffff;
  --text: #434455;
  --contact: #434455;
  --header-item: #434455;
  --footer-text: #f4f4fd;
  --logotipe-blu: #4d5ae5;
  --logotipe-blac: #2e2f42;
  --background-header: #ffffff;
  --background-hero: #2e2f42;
  --background: #fff;
  --background-team: #f4f4fd;
  --background-footer: #2e2f42;
  --background-bottom: #4d5ae5;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/*============ COMPONENTS ============ */

span.ingredient {
  color: var(--logotipe-blac, #2e2f42);
}

.main-title {
  color: var(--main-title, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.desc {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*============ Heder ============ */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
}

.header-contact {
  font-style: normal;
}
.menu-link {
  color: var(--heading-menu, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
menu-list:hover {
  color: #404bbf;
}
menu-list:focus {
  color: color: #404bbf;
}
.contact-link {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
}

.logotipe-header {
  color: var(--logotipe-blu, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
span.ingredient-header {
  color: var(--navyblue, #2e2f42);
}
/*============ Hero ============ */
.hero {
  background-color: var(--navyblue, #2e2f42);
}
.title-hero {
  color: #ffffff;
  letter-spacing: 1.12px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
button:hover {
  color: var(--bottom-hover, #fff);
  background-color: #404bbf;
  border: 1px;
  border: solid transparent;
}
button:focus {
  background-color: #404bbf;
}
.button-hero {
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
/*============ Info ============*/

/*============ Wat are we doing ============*/

.main-title-doing {
  color: var(--main-title, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.page-doing {
  width: calc((100% - 48px) / 3);
}
/*============ Team ============*/

.team {
  background-color: #f4f4fd;
}
.main-title-team {
  color: var(--main-title, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-card {
  background-color: #ffffff;
}
/*=========Footer========*/
.logotipe {
  color: var(--logotipe-blu, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
span.ingredient {
  color: var(--cloud, #f4f4fd);
}

.footer {
  background-color: var(--navyblue, #2e2f42);
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
